/**
 * Author: Will Elliott <troutcobbler@gmail.com>
 */
* {
    text-color:                  #BCBCBC;
    background-color:            #262626;
    blue:                        #5F87AF; 

    selected-normal-foreground:  @background-color;
    normal-foreground:           @foreground;
    alternate-normal-background: @background;
    selected-urgent-foreground:  @foreground;
    urgent-foreground:           @foreground;
    alternate-urgent-background: @background;
    active-foreground:           @foreground;
    selected-active-foreground:  @foreground;
    alternate-normal-foreground: @foreground;
    alternate-active-background: @blue;
    bordercolor:                 @foreground;
    normal-background:           @background;
    selected-normal-background:  @blue;
    separatorcolor:              @background;
    spacing:                     2;
    urgent-background:           @background;
    alternate-urgent-foreground: @foreground;
    selected-urgent-background:  @background;
    alternate-active-foreground: @foreground;
    selected-active-background:  @blue;
    active-background:           @background;
}
window {
    border:     0;
    padding:    5;
}
mainbox {
    border:  0;
    padding: 0;
}
message {
    border:     1px dash 0px 0px ;
    padding:    2px 0px 0px ;
}
textbox {
}
listview {
    fixed-height: 0;
    border:       2px 0px 0px ;
    padding:      2px 0px 0px ;
}
element {
    border: 0;
}
element-text {
    background-color: inherit;
    text-color:       inherit;
}
element.selected.normal {
    text-color: @selected-normal-foreground;
    background-color: @selected-normal-background;
}
element.selected.active {
    background-color: @selected-active-background;
}
element.alternate.active {
    background-color: @alternate-active-background;
}
mode-switcher {
    border: 1px dash 0px 0px ;
}
button selected {
    text-color: @selected-normal-foreground;
    background-color: @selected-normal-background;
}
inputbar {
    spacing: 0;
    border: 0px ;
}

inputbar {
    children:   [ prompt,textbox-prompt-colon,entry,case-indicator ];
}
textbox-prompt-colon {
    expand:     false;
    str:        ":";
    margin:     0px 0.3em 0em 0em ;
}
