Source: hatchery-skel
Section: admin
Priority: optional
Maintainer: Will Elliott <troutcobbler@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://github.com/troutcobbler/hatchery-skel

Package: hatchery-skel
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Hatchery's default skel.
