# toggle off/on laptop/monitor
#toggle-mon.sh

# reduce blue light with redshift
#redshift -O 4500K

# set wallpaper with feh
~/.fehbg

# use xautolock/slock for screensaver/locking
#xautolock -time 10 -locker slock &

# enable/disable conky cheatsheet
conky &
